@import url(style/header.css);
@import url(style/sobre.css);
@import url(style/metricas.css);
@import url(style/banner.css);
@import url(style/vagas.css);

:root {
    --Cor-titulo: #3A404E;
    --vermelho-fundo: #8E2424;
    --cinza-secundario: #667085;
    --branco-principal: #FFFFFF;
    --azul-escuro: #101828;
    --azul-claro: #667085;

    --fonte-principal: "Inter";
}

body {
    background: var(--branco--principal); 
}

.d-flex {
    display: flex;
    align-items: center;
}